@model MediaCenter.Models.Data.PostStatus

@{
    ViewData["Title"] = "Статусы поста";
}

<h3>
    <a class="btn text-dark" asp-action="Index" title="Вернуться к списку">
        <i class="fas fa-arrow-left"></i>
    </a>
    Просмотр статуса поста
</h3>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusPost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusPost)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
